p{
    color:red;
}
input{
    color: blue;
}

.button{
background-color: darkblue;
border: none;
color: black;
padding: 15px 32px;
text-align: center;
font-size: 16px;
margin: auto;
cursor: pointer;
border-radius: 5px;
}
.buttonRed{
    background-color: red;
}
.button:hover{
    background-color: rebeccapurple;
}